/Assignment2-R1/nbproject/private/
/Assignment2-R1/Assignment2-R1-war/nbproject/private/
/Assignment2-R1/Assignment2-R1-ejb/nbproject/private/
/Assignment2-R1/Assignment2-R1-war/build/
/Assignment2-R1/Assignment2-R1-ejb/build/
/Assignment2-R1/Assignment2-R1-ejb/dist/
/Assignment2-R1/build/
/Assignment2-R1/dist/
/Assignment2-R1/Assignment2-R1-war/dist/
/blocker
/blocker/*
blocker/data/bindings/activemq-bindings-2.bindings
blocker/data/bindings/activemq-bindings-2.bindings
blocker/data/journal/activemq-data-2.amq
blocker/data/journal/server.lock
TestSTS/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
TestSTS/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
TestSTS/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
