/Assignment2-R1/nbproject/private/
/Assignment2-R1/Assignment2-R1-war/nbproject/private/
/Assignment2-R1/Assignment2-R1-ejb/nbproject/private/
/Assignment2-R1/Assignment2-R1-war/build/
/Assignment2-R1/Assignment2-R1-ejb/build/
/Assignment2-R1/Assignment2-R1-ejb/dist/
/Assignment2-R1/build/
/Assignment2-R1/dist/
/Assignment2-R1/Assignment2-R1-war/dist/
/blocker
/blocker/*